body {
	font-family: 'Montserrat', sans-serif;
	color: black;
	background-image: linear-gradient(13deg, #e8ffc1, #eff48e, #a5ecd7, #726a95);
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	width: 50%;
}
button {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

container {
	align-items: center;
}
h1 {
	font-weight: bold;
}

td {
	width: 100px;
	height: 100px;
}
table {
	text-align: center;
	vertical-align: auto;
	margin: auto;
	margin-top: 150px;
}
.vertical {
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.horizontal {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.char {
	font-size: 2.5rem;
	font-weight: 400;
}
a {
	color: white;
}

.info {
	background-color: whitesmoke;
}
